<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
        <% include ./partials/header-detailproduct.ejs%>
    <style>

    </style>
</head>
<body>
    <% include ./partials/header-product.ejs%>

    <div class="container">

        <h1 class="my-4">
            <%= product.nama_wisata%>
            <a class="btn-info" href="/booking/<%= product.id_product%>">Pesan</a>
        </h1>

        <div class="row">
            <div class="col-md-8">
                <img style="width: 750px; height: 500px" class="img-fluid" src="/images/product/<%= product.cover_images%>">
            </div>

            <div class="col-md-4">
                <div class="col-md-10 bg-info">
                <h2 class="my-3"><%= product.nama_wisata%></h2>
                <!--<p align="justify">Taman Pintar Yogyakarta merupakan salah satu wahana bermain sekaligus belajar untuk anak-anak yang disediakan oleh pemerintah kota Yogyakarta untuk menyediakan sarana pembelajaran sains bagi siswa yang mendukung kurikulum pendidikan-->
                    <!--serta memotivasi anak dan generasi muda untuk mencintai sains</p>-->
                <h3 class="my-3"> Harga : <%= formatCurrency%></h3>
                <h3 class="my-3">Lokasi : <%= product.lokasi%></h3>

                </div>
            </div>
            <div class="col-md-8 bg-danger">
            </div>
        </div>
        <h1 class="my-4">Deskripsi</h1>
        <p align="justify"><%= product.deskripsi%></p>
        <h1>Gallery <%= product.nama_wisata%></h1>
        <div class="row">
            <div class="col-sm-3">
                <a href="">
                    <img class="img-responsive" style="width: 300px;height: 200px" src="/images/product/<%= product.url_images2%>">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img class="img-responsive" style="width: 300px;height: 200px" src="/images/product/<%= product.url_images3%>">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <img  style="width: 300px;height: 200px" class="img-responsive" src="/images/product/<%= product.url_images1%>">
                </a>
            </div>
        </div>
        <h1 class="my-4">Lokasi Di Map</h1>
    </div>
<footer class="footer-distributed">
        <% include ./partials/footer.ejs%>
</footer>
</body>

</html>