<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <% include ./partials/header-layout.ejs%>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap/css/custom.css'>
</head>
<body>
    <!-- Navigation -->
    <% include ./partials/header-product.ejs%>
    <div class="container">
          <h1 style="color:#1d2124" class="jumbotron text-center">List Kategori</h1>
    <div class="row flex-row">
        <% kategori.forEach((kategoris)=>{%>
        <div class="col-lg-4 col-sm-6 portfolio-item" >
            <div class="card">
                <a href="/product/<%= kategoris.id_kategori%>"><img style="width: 60%" class="img-circle card-img-top center-block" src="/images/kategori/<%= kategoris.url_images%>"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/product/<%= kategoris.id_kategori%>"><%= kategoris.nama_kategori%></a>
                    </h4>
                    <p><%= kategoris.deskripsi%></p>
                </div>
            </div>
        </div>
        <%})%>
    </div>
    </div>
<footer class="footer-distributed">
    <% include ./partials/footer.ejs%>
</footer>
</body>
</html>
